a {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: none;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  text-align: center;
  text-decoration: none;
}

span {
  position: relative;
  z-index: 1;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
}
.btnBefore,
.btnAfter {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: solid #000;
  border-width: 0;
  border-radius: 0;
  transition: 0;
  -webkit-transition: 0;
  -moz-transition: 0;
  -o-transition: 0;
  -ms-transition: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-color: #8bfdfe;
  border-radius: 8px;
}
.btnBefore.lightMode,
.btnAfter.lightMode {
  border-color: #19224e;
}
a .btnBefore {
  right: 0;
  bottom: 0;
}
a .btnAfter {
  left: 0;
  top: 0;
}
a:hover .btnBefore {
  border-width: 0 0 1px 1px;
}
a:hover .btnAfter {
  border-width: 1px 1px 0 0;
}

a:hover .btnAfter,
a:hover .btnBefore {
  height: 100%;
  width: 100%;
  transition: width 0.5s ease, height 0.5s ease 0.5s,
    border-top-right-radius 0.1s ease 0.4s,
    border-bottom-left-radius 0.1s ease 0.4s,
    border-bottom-right-radius 0.1s ease 0.9s,
    border-top-left-radius 0.1s ease 0.9s;
  -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s,
    border-top-right-radius 0.1s ease 0.4s,
    border-bottom-left-radius 0.1s ease 0.4s,
    border-bottom-right-radius 0.1s ease 0.9s,
    border-top-left-radius 0.1s ease 0.9s;
  -moz-transition: width 0.5s ease, height 0.5s ease 0.5s,
    border-top-right-radius 0.1s ease 0.4s,
    border-bottom-left-radius 0.1s ease 0.4s,
    border-bottom-right-radius 0.1s ease 0.9s,
    border-top-left-radius 0.1s ease 0.9s;
  -o-transition: width 0.5s ease, height 0.5s ease 0.5s,
    border-top-right-radius 0.1s ease 0.4s,
    border-bottom-left-radius 0.1s ease 0.4s,
    border-bottom-right-radius 0.1s ease 0.9s,
    border-top-left-radius 0.1s ease 0.9s;
  -ms-transition: width 0.5s ease, height 0.5s ease 0.5s,
    border-top-right-radius 0.1s ease 0.4s,
    border-bottom-left-radius 0.1s ease 0.4s,
    border-bottom-right-radius 0.1s ease 0.9s,
    border-top-left-radius 0.1s ease 0.9s;
}
