@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.flux {
  font-family: neon;
  color: #426dfb;
  font-size: 11vw;
  line-height: 11vw;
  text-shadow: 0 0 3vw #2356ff;
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

.fluxLight {
  font-family: neon;
  color: #426dfb;
  font-size: 11vw;
  line-height: 11vw;
  text-shadow: 0 0 3vw #2356ff;
  animation: fluxLight 2s linear infinite;
  -moz-animation: fluxLight 2s linear infinite;
  -webkit-animation: fluxLight 2s linear infinite;
  -o-animation: fluxLight 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}
@keyframes fluxLight {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 6.5vw #1041ff,
      0 0 6.5vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #28d7fe;
  }
}
